@media screen and (max-width: 480px) {
    body {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    nav {
      position: static;
      flex-direction: column;
      align-items: center;
      margin-top: 10px;
    }
  }