@media (min-width: 640px) {
	nav ul {
		display: flex;
	}
	nav ul li {
		flex: 1 1 100%;
	}
}

@media (max-width: 600px) {
    .grid-container {
      grid-template-columns: 1fr;
    }
  }

  @media (max-width: 600px) {
    h2 {
      display: inline;
      font-size: small;
      text-align: center;
    }
    
  }

  @media (max-width: 600px) {
    h1 {
        display: inline;
        font-size: medium;
    }
  }

  @media (max-width: 600px) {
    h2 {
      display: inline;
      font-size: small;
      text-align: center;
    }
    
  }

  /*site plan */

  @media (max-width: 600px) {
    /* CSS styles specific to small screens */

    /* Example styles */
    body {
        font-size: 14px;
    }

    .card {
        padding: 10px;
    }
}

 
  